[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "oh-my-bash"]
	path = oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
	ignore = dirty
